.layout {
  display: flex;
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 240px;
  background: #0046b7;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
}

.sidebar li.active {
  font-weight: bold;
  opacity: 1;
}

.logout {
  margin-top: 60px;
  opacity: 0.8;
  font-size: 18px;
}

.topbar {
  height: 65px;
  background: #1e74ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  color: white;
}

.usuario-nombre {
  font-size: 18px;
  font-weight: 500;
}

.content {
  width: 100%;
  padding: 30px 50px;
}

.titulo {
  font-size: 28px;
  margin-bottom: 15px;
}

.buscador {
  margin-bottom: 20px;
}

.buscador input {
  margin-left: 10px;
  padding: 7px 15px;
  border: 1px solid #c9d3e0;
  border-radius: 10px;
  font-size: 16px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.tabla th {
  text-align: left;
  padding: 12px;
  color: #1e74ff;
}

.tabla td {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.acciones {
  display: flex;
  gap: 15px;
}

.btn-modificar {
  color: #0055ff;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-eliminar {
  color: red;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}
