<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <ul>
      <li>Usuarios</li>
      <li>Solicitudes</li>
      <li class="active">Tarjetas</li>
      <li>Ventas</li>
      <li>Comunicación</li>
    </ul>
    <div class="logout">Cerrar sesión</div>
  </aside>

  <!-- CONTENIDO -->
  <main class="content">

    <!-- TOPBAR -->
    <div class="topbar">
      <div></div>
      <div class="usuario-nombre">Administrador</div>
    </div>

    <!-- TÍTULO PRINCIPAL -->
    <h2 class="titulo">Beneficios del usuario</h2>

    <!-- MINI TABLA DE IDENTIDAD -->
    <div class="mini-tabla">
      <div class="mini-header">
        <span>ID</span>
        <span>Nombre de usuario</span>
      </div>
      <div class="mini-data">
        <span>001522</span>
        <span>Guillermo Chavez</span>
      </div>
    </div>

    <!-- BENEFICIO -->
    <h2 class="benef-title">Beneficio: Estudiante</h2>

    <!-- BOTONES -->
    <div class="acciones">
      <button class="btn-modificar">Modificar beneficio</button>
      <button class="btn-historial">Ver historial</button>
      <button class="btn-suspender">Suspender beneficio</button>
    </div>

    <!-- FOTO DEL USUARIO -->
    <div class="foto-container">
      <div class="foto">FOTO</div>
    </div>

    <!-- FECHA -->
    <p class="fecha">Fecha de activación: 22/10/2025</p>

  </main>
</div>
