.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f5f7fb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.layout__main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.layout__page {
  padding: 24px 32px;
  overflow: auto;
  flex: 1;
  margin:0 100px 0 100px;
}
/**/
.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  overflow: auto;
}
/**/
.layout__content--full {
  margin-left: 0;
}