<div class="layout">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <ul>
      <li class="active">Usuarios</li>
      <li>Solicitudes</li>
      <li>Tarjetas</li>
      <li>Ventas</li>
      <li>Comunicación</li>
    </ul>
    <button class="logout" (click)="onLogout()">
    Cerrar sesión
  </button>
  </aside>

  <!-- CONTENIDO -->
  <main class="content">
    <!-- TOPBAR -->
    <div class="topbar">
      <div></div>
      <div class="usuario-nombre">Administrador</div>
    </div>

    <h2 class="titulo">Tabla de usuarios</h2>

    <!-- BUSCADOR -->
    <div class="buscador">
      <label>Buscar:</label>
      <input type="text" placeholder="Buscar por ID o nombre" />
    </div>

    <!-- TABLA -->
    <table class="tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre completo</th>
          <th>Beneficio</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>—</td>
          <td>—</td>
          <td>—</td>
          <td class="acciones">
            <button class="btn-modificar">Modificar</button>
            <button class="btn-eliminar">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>